*{
margin:0;padding:0;
}
html,body{
    width: 100%;
    height: 100%;
}
.menu {
    /* float: left; */
    display: block;
    width: 100%;
    height: 60px;
    background-color: #d1d1eab8;
    margin: auto;
    position: fixed;
    top: 0px;
    z-index: 2;   
}

li {
    float: left;
    list-style: none;
}

.menu a {
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color: black;
    font-family: Tohoma;
    font-weight: bold;
}

ul {
    margin-left: 30%;
}

.home {
    width: 100%;
    height: 800px;
    background: url(../images/1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.noi-dung-1 {
    height: 300px;
    color: gray;
    padding: 50px 0;
    text-align: center;
    font-size: 25px;
}
.chapter1,.chapter2,.chapter3,.chapter4{
	 width: 100%;
    height: 800px;
    background: url(../images/2.jpg);
    background-size: cover;
    background-attachment: fixed; 
    position: relative;
}
.chapter2{
	background: url(../images/3.jpg);
}
.chapter3{
	background: url(../images/4.jpg);
}
.chapter4{
	background: url(../images/5.jpg);
}
span{
	color: white;
	font-size: 100px;
	font-weight: bold;
	z-index: 1;
	position: absolute;
	top:20%;
	left: 5%;
	
}
body{
	position: relative;
}
i{
	color: gray;
	font-size: 60px;
	font-weight: bold;
	z-index: 1;
	position: absolute;
	bottom: 5%;
	right: 3%;
	position: fixed;
}