*{
margin:0;padding:0;
}
.mot-khoi>p{
	background-color:#dfe6e9;
	padding: 10px 12px;
}
.mot-khoi>h3{
	background-color:#00b894;
	color: white;
	text-align: left;
	padding: 10px 12px;
}
.mot-khoi>h3:hover{
	background: url
}
.mau-vang{
	background-color:yellow !important;
	color: black !important;
}